@model WAD_C2009L_NguyenVanA.Models.Exam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
